@font-face {
  font-family: 'mononoki-Regular';
  src: url('mononoki-Regular.eot'); /* IE9+ Compat Modes */
  src: url('mononoki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('mononoki-Regular.woff2') format('woff2'), /* Super modern browsers */
       url('mononoki-Regular.woff') format('woff'), /* Modern browsers */
       url('mononoki-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('mononoki-Regular.svg#FontName') format('svg'); /* Legacy iOS */
}
body { background-color: #333; -webkit-font-smoothing: antialiased; text-align: justify}
p { color: #fff; font-family: mononoki-Regular; font-size: 16px; line-height: 24px; margin-bottom: 22px; -webkit-font-smoothing: antialiased; }
p1 { color: #7DD42E; font-family: mononoki-Regular; font-size: 16px; line-height: 24px; margin-bottom: 22px;-webkit-font-smoothing: antialiased; }
a { color: #fff; font-family: mononoki-Regular; text-decoration: none; }
a:hover { color: #7DD42E; }
#profil { width: 100px; padding: 50px 0 0 0; margin: 0 auto 0 50px; }
#about { width: 500px; padding: 0 0 0 0px; margin: 50px auto 0 100px !important; }
.title { font-size: 65px !important; margin-bottom : 65px !important; }
@media (max-width: 1200px) 
	{
   		#profil { width: 100px; padding: 50px 0 0 0; margin: 0 auto 0 50px;}
   		#about { position: relative; width: auto; padding: 20px; margin: 0 !important; }
	}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
